[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = {extras = ["alldeps"]}
spacy = "*"
grpcio = "*"
grpcio-tools = "*"
langdetect = "*"
matplotlib = "*"
ipykernel = "*"
bokeh = "*"
ipywidgets = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.6"
